body{
    margin:0;
    height: 100%;
    background-color: rgb(24, 21, 21);
}
.result-main{
    display: flex;
    flex-direction: row;
    margin-top: 15vh;
}
.map-container{
    height:100vh;
    width:50%;
    z-index: 99;
    background-color: white;
}

.result-container{
    background-color: rgb(37, 36, 36);
    height: 100vh;
    width: 50%;
}


.check{
    margin:90px;
    color:white;
}

.tab-content{
    color: wheat;
    font-size: 2rem;
}