@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.row2{
  background-color: white;
}

button:hover{
  cursor:pointer;
}
a:hover{
  cursor:pointer;
}


