.register-container{
    width: 100%;
    height: 100%;
    position:fixed;
    z-index:1400;
    inset: 0;
    display:flex;
    justify-content: center;
    align-items: center;

}

.register-form{
    background-color:rgba(0, 0, 0, 0.587);
    backdrop-filter: blur(10px);
    height: 80vh;
    width: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:2em;
    overflow: auto;

}
.register-logo{

    color:blanchedalmond;
    font-size: 4rem;
    margin:20px;
    margin-bottom: 4vh;
}
.register-close-btn{
    font-size: 2rem;
    color:red;
    align-self: flex-end;
    margin-right:15px;
}
.register-close-btn:hover{
    cursor: pointer;
}

.register-label{
    color:white;
    text-align: center;
    font-size: 1.2rem;
}
.register-input{
    width: 80%;
    border:0;
    border-bottom: 1px solid white;
    outline:none;
    margin-top: 5vh;
    background-color: rgba(0, 0, 0, 0.488);
    color:wheat;
    font-size: 1.2rem;
    height: 5vh;
    margin-bottom: 9vh;
}

.register-btn{
    display: block;
    width: 80%;
    height: 60px !important;
    padding:10px;
    margin:0;
    position: inline;
    font-size: 30px;
    border: none;
    border-radius: 40px;
    background-color: rgba(4, 86, 4, 0.889);
}
.register-btn:hover{
    background-color: blanchedalmond;
    cursor: pointer;
}
.signin-asker{
    margin:40px;
    text-decoration: underline;
    color:white;
    font-size: 1.5rem;
    background-color: transparent;
    border:none;
    cursor: pointer;
}